{% extends 'base.html' %}

{% block content %}
		<div id="container">
			<div id="content" role="main">

			

				<div id="nav-above" class="navigation">
					<div class="nav-previous"></div>
					<div class="nav-next"><a href="http://isvoe.ru/ivan-sokolov-moi-myortvyeseriya-vnezapno-stixi/" rel="next">Иван Соколов &#171;Мои мёртвые&#187;/серия &#171;внезапно стихи&#187; <span class="meta-nav">&rarr;</span></a></div>
				</div><!-- #nav-above -->

				<div id="post-1" class="post-1 post type-post status-publish format-standard hentry category-avtorskie-knigi">
					<h1 class="entry-title">{{ object.title}}</h1>

					<div class="entry-meta">
						<span class="meta-prep meta-prep-author">Опубликовано</span> <a href="http://isvoe.ru/vnezapno-stihi/" title="07:14" rel="bookmark"><span class="entry-date">{{ object.published_at|date }}</span></a> <span class="meta-sep">автором</span> <span class="author vcard"><a class="url fn n" href="http://isvoe.ru/author/admin/" title="Посмотреть все записи автора Редактор">{{ object.author }}</a></span>					</div><!-- .entry-meta -->

					<div class="entry-content">
						{{ object.text|safe }}
					</div><!-- .entry-content -->

	
						<div class="entry-utility">
							Запись опубликована в рубрике <a href="http://isvoe.ru/category/avtorskie-knigi/" rel="category tag">{{ object.category }}</a>. Добавьте в закладки <a href="{% url 'isite:post' object.slug %}" title="Постоянная ссылка: внезапно стихи" rel="bookmark">постоянную ссылку</a>.							<span class="edit-link"><a class="post-edit-link" href="http://isvoe.ru/wp-admin/post.php?post=1&#038;action=edit">Изменить</a></span>						</div><!-- .entry-utility -->
					</div><!-- #post-## -->

					<div id="nav-below" class="navigation">
						<div class="nav-previous"></div>
						<div class="nav-next"><a href="http://isvoe.ru/ivan-sokolov-moi-myortvyeseriya-vnezapno-stixi/" rel="next">Иван Соколов &#171;Мои мёртвые&#187;/серия &#171;внезапно стихи&#187; <span class="meta-nav">&rarr;</span></a></div>
					</div><!-- #nav-below -->
			</div><!-- #content -->
		</div><!-- #container -->

{% endblock %}