<div id="footer" role="contentinfo">
		<div id="colophon">
			<div id="footer-widget-area" role="complementary">
				<div id="first" class="widget-area">
					<ul class="xoxo">
						<li id="text-3" class="widget-container widget_text">
							<h3 class="widget-title">Телефон</h3>
							<div class="textwidget">(812) 900-21-45</div>
						</li>
					</ul>
				</div><!-- #first .widget-area -->

				<div id="second" class="widget-area">
					<ul class="xoxo">
						<li id="text-4" class="widget-container widget_text">
							<h3 class="widget-title">E-mail:</h3>
							<div class="textwidget">editor@isvoe.ru</div>
						</li>
					</ul>
				</div><!-- #second .widget-area -->

				<div id="third" class="widget-area">
					<ul class="xoxo">
						<li id="text-5" class="widget-container widget_text">
							<h3 class="widget-title">Время работы:</h3>
							<div class="textwidget">С понедельника по пятницу: <br>11.00—19.00.</div>
						</li>
					</ul>
				</div><!-- #third .widget-area -->


			</div><!-- #footer-widget-area -->

			<div id="site-info">
				<a href="http://isvoe.ru/" title="Издание и печать книг" rel="home">
					Издание и печать книг
				</a>
			</div><!-- #site-info -->

			<div id="site-generator">
								<a href="https://ru.wordpress.org/" class="imprint" title="">Сайт работает на Django.
								</a>
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->

</div><!-- #wrapper -->

<script type='text/javascript' src='http://isvoe.ru/wp-includes/js/wp-embed.min.js?ver=5.0.10'></script>
</body>