<div id="access" role="navigation">
	<div class="skip-link screen-reader-text"><a href="#content" title="Перейти к содержимому">Перейти к содержимому</a></div>
	<div class="menu-header">
		<ul id="menu-1" class="menu">
			<li id="menu-item-75" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-75"><a href="http://isvoe.ru/podgotovka-knigi/">Подготовка книги</a>
				<ul class="sub-menu">
					<li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="http://isvoe.ru/redaktirovanie-knigi/">Редактирование книги</a>
					</li>
					<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="http://isvoe.ru/korrektura-knigi/">Корректура книги</a></li>
					<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="http://isvoe.ru/verstka-knigi/">Верстка книги</a></li>
					<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="http://isvoe.ru/dizajn-oblozhki-dlya-knigi/">Дизайн обложки книги</a></li>
					<li id="menu-item-538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="http://isvoe.ru/samostoyatelnaya-podgotovka-maketa/">Самостоятельная подготовка макета</a></li>
				</ul>
			</li>
		<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-74"><a href="http://isvoe.ru/izdanie-knigi/">Издание книги</a>
			<ul class="sub-menu">
				<li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="http://isvoe.ru/izdat-knigu/">Издать книгу</a>
				</li>
				<li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="http://isvoe.ru/poluchit-isbn/">Как получить ISBN для книги</a>
				</li>
				<li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="http://isvoe.ru/elektronnye-knigi/">Электронные книги</a>
				</li>
			</ul>
		</li>
		<li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-82"><a href="http://isvoe.ru/pechat-knigi/">Печать книг</a>
			<ul class="sub-menu">
				<li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="http://isvoe.ru/print-on-demand/">Печать по требованию</a>
				</li>
				<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://isvoe.ru/pechat-knig-bolshim-tirazhom/">Печать книг большим тиражом</a>
				</li>
				<li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="http://isvoe.ru/izdatelstvam/">Издательствам</a>
				</li>
				<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://isvoe.ru/predlozhenie-avtoram/">Авторам</a>
				</li>
			</ul>
		</li>
		<li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="http://isvoe.ru/kalkulyator/">Калькулятор печати</a>
		</li>
		<li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-70"><a href="http://isvoe.ru/contacts/">Контакты</a>
			<ul class="sub-menu">
				<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="http://isvoe.ru/about/">О нас</a></li>
				<li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="http://isvoe.ru/oplata-i-dostavka/">Оплата и доставка</a></li>
			</ul>
		</li>
		{% for page in pages %}
		<li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-70"><a href="{% url 'isite:page' page.slug %}">{{ page.title}}</a></li>
				<ul class="sub-menu">
					{% for p in page.parents.all %}
					<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="http://isvoe.ru/about/">О нас</a></li>
					{% endfor %}
				</ul>
		{% endfor %}
	</ul>
</div>
</div>