<div id="access" role="navigation">
	<div class="skip-link screen-reader-text"><a href="#content" title="Перейти к содержимому">Перейти к содержимому</a></div>
	<div class="menu-header">
		<ul id="menu-1" class="menu">
			{% for page in pages %}
			<li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-70"><a href="{% url 'isite:page' page.slug %}">{{ page.title}}</a>
				<ul class="sub-menu">
					{% for p in page.parents.all %}
					<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="{% url 'isite:page' p.slug %}">{{ p.title }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			</li>
		</ul>
	</div>
</div>
|