<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">

<li id="custom_html-2" class="widget_text widget-container widget_custom_html"><h3 class="widget-title">Дорогие авторы!</h3><div class="textwidget custom-html-widget">В связи с пандемией и плановым ремонтом здания на 4-й линии В. О., где размещается офис издательства, мы переходим до конца августа на удаленный режим работы. Мы остаемся на связи по электронной почте и по телефону, готовые книги будут доставляться курьерской службой или с помощью такси. В случае необходимости о личной встрече можно договориться заранее по телефону издательства: (812) 900-21-45.</div></li>
<li id="search-2" class="widget-container widget_search">
	<form role="search" method="get" id="searchform" class="searchform" action="http://isvoe.ru/">
				<div>
					<label class="screen-reader-text" for="s">Найти:</label>
					<input type="text" value="" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="Поиск" />
				</div>
			</form></li>
<li id="nav_menu-2" class="widget-container widget_nav_menu"><h3 class="widget-title">Все о печати книг</h3><div class="menu-1-container"><ul id="menu-2" class="menu">
{% for page in pages %}
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-70"><a href="{% url 'isite:page' page.slug %}">{{ page.title}}</a>
	
<ul class="sub-menu">{% for p in page.parents.all %}
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="{% url 'isite:page' p.slug %}">{{ p.title }}</a></li>
	{% endfor %}
</ul>
</li>
{% endfor %}
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497"><a href="http://isvoe.ru/knigi-svoego-izdatelstva-vrem/">Наши книги</a></li>
</ul></div></li>
<li id="recent-posts-2" class="widget-container widget_recent_entries">		<h3 class="widget-title">Свежие записи</h3>		
	<ul>
		{% for post in fresh_posts %}
		<li>
			<a href="{% url 'isite:post' post.slug %}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>
</li>
</ul>

</div><!-- #primary .widget-area -->
