<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">

<li id="custom_html-2" class="widget_text widget-container widget_custom_html"><h3 class="widget-title">Дорогие авторы!</h3><div class="textwidget custom-html-widget">В связи с пандемией и плановым ремонтом здания на 4-й линии В. О., где размещается офис издательства, мы переходим до конца августа на удаленный режим работы. Мы остаемся на связи по электронной почте и по телефону, готовые книги будут доставляться курьерской службой или с помощью такси. В случае необходимости о личной встрече можно договориться заранее по телефону издательства: (812) 900-21-45.</div></li>
<li id="search-2" class="widget-container widget_search">
	<form role="search" method="get" id="searchform" class="searchform" action="http://isvoe.ru/">
				<div>
					<label class="screen-reader-text" for="s">Найти:</label>
					<input type="text" value="" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="Поиск" />
				</div>
			</form></li>
<li id="nav_menu-2" class="widget-container widget_nav_menu"><h3 class="widget-title">Все о печати книг</h3><div class="menu-1-container"><ul id="menu-2" class="menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-75"><a href="http://isvoe.ru/podgotovka-knigi/">Подготовка книги</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="http://isvoe.ru/redaktirovanie-knigi/">Редактирование книги</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="http://isvoe.ru/korrektura-knigi/">Корректура книги</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="http://isvoe.ru/verstka-knigi/">Верстка книги</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="http://isvoe.ru/dizajn-oblozhki-dlya-knigi/">Дизайн обложки книги</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="http://isvoe.ru/samostoyatelnaya-podgotovka-maketa/">Самостоятельная подготовка макета</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-74"><a href="http://isvoe.ru/izdanie-knigi/">Издание книги</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="http://isvoe.ru/izdat-knigu/">Издать книгу</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="http://isvoe.ru/poluchit-isbn/">Как получить ISBN для книги</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="http://isvoe.ru/elektronnye-knigi/">Электронные книги</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-82"><a href="http://isvoe.ru/pechat-knigi/">Печать книг</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="http://isvoe.ru/print-on-demand/">Печать по требованию</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://isvoe.ru/pechat-knig-bolshim-tirazhom/">Печать книг большим тиражом</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="http://isvoe.ru/izdatelstvam/">Издательствам</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://isvoe.ru/predlozhenie-avtoram/">Авторам</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="http://isvoe.ru/kalkulyator/">Калькулятор печати</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-70"><a href="http://isvoe.ru/contacts/">Контакты</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="http://isvoe.ru/about/">О нас</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="http://isvoe.ru/oplata-i-dostavka/">Оплата и доставка</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497"><a href="http://isvoe.ru/knigi-svoego-izdatelstva-vrem/">Наши книги</a></li>
</ul></div></li>
<li id="recent-posts-2" class="widget-container widget_recent_entries">		<h3 class="widget-title">Свежие записи</h3>		
	<ul>
		<li>
			<a href="http://isvoe.ru/%d1%81%d0%b4%d0%b0%d0%bd-%d0%b2-%d0%bf%d0%b5%d1%87%d0%b0%d1%82%d1%8c-%d1%81%d0%b1%d0%be%d1%80%d0%bd%d0%b8%d0%ba-%d0%bd%d0%b0%d1%83%d1%87%d0%bd%d1%8b%d1%85-%d1%81%d1%82%d0%b0%d1%82%d0%b5%d0%b9/">Сдан в печать сборник научных статей</a>
		</li>
		<li>
			<a href="http://isvoe.ru/%d0%bd%d0%be%d0%b2%d1%8b%d0%b9-%d0%b0%d0%b4%d1%80%d0%b5%d1%81-%d0%b8%d0%b7%d0%b4%d0%b0%d1%82%d0%b5%d0%bb%d1%8c%d1%81%d1%82%d0%b2%d0%b0/">НОВЫЙ АДРЕС ИЗДАТЕЛЬСТВА</a>
		</li>
		<li>
			<a href="http://isvoe.ru/goarmarkosjankasper_penelope/">Гоар Маркосян-Каспер и ее Пенелопа. Переиздание романа.</a>
		</li>
		<li>
			<a href="http://isvoe.ru/%d0%bf%d1%83%d0%b1%d0%bb%d0%b8%d0%ba%d0%b0%d1%86%d0%b8%d1%8f-%d0%ba%d0%bd%d0%b8%d0%b3%d0%b8-%d0%b1%d0%b5%d0%b7-%d0%bf%d1%80%d0%b0%d0%b2%d0%b0-%d0%bd%d0%b0-%d0%b6%d0%b8%d0%b7%d0%bd%d1%8c/">Публикация книги «Без права на жизнь» Н. Н. Азаренко</a>
		</li>
		<li>
			<a href="http://isvoe.ru/%d0%b6%d0%b5%d1%80%d1%82%d0%b2%d1%8b-%d0%b1%d0%bb%d0%be%d0%ba%d0%b0%d0%b4%d1%8b-%d0%bb%d0%b5%d0%bd%d0%b8%d0%bd%d0%b3%d1%80%d0%b0%d0%b4%d0%b0/">Жертвы блокады Ленинграда</a>
		</li>
	</ul>
</li>
</ul>

</div><!-- #primary .widget-area -->
